beautifulsoup4==4.12.3
langchain==0.2.1
langchain_cohere==0.1.5
langchain_community==0.2.1
langchain_core==0.2.3
langchain_google_genai==1.0.5
langchain_pinecone==0.1.1
reportlab==4.2.0
Requests==2.32.3
streamlit==1.35.0